.tripdetails-container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  padding: 32px;
  min-width: 480px;
  max-width: 540px;
  font-size: 1.2rem;
  color: #25472f;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #25472f1a;
}

.tripdetails-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 16px;
  margin-bottom: 10px;
  text-align: left;
}

.tripdetails-info {
  margin-bottom: 18px;
}

.tripdetails-container.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  height: 100%;
  min-height: 200px;
}
